@import url('./reset.css');

body {
  background-color: #000000;
}

.banner {
  background-image: linear-gradient(#00000099, #31A8DD33, #00000099), url('../assets/images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  border-bottom: 1px solid #33A8DB;  
}

.banner-content {
  width: 40%;
  margin: 46px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.logo {
  width: 50%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1rem auto;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.banner-content p {
  font-size: 1.25rem;
}

.banner-content button {
  margin: 1.5rem auto 4.7rem auto;
  padding: 19px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
  color: #31A8DD;
  border: 2px solid #3BA1CD;
  background-color: transparent;
  cursor: pointer;
  width: 326px;
  @media screen and (max-width: 768px) {
    width: 60%;
  }
}

#course-content {
  width: 60%;
  /* margin: 118px auto 90px auto; */
  margin: 6.5rem auto 4.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: #33A8DB;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

p {
  font-weight: 400;
  color: #fff;
  text-align: center;
  font-size: 1rem;
}

.modules-list {
  width: 100%;
}

.module {
  width: 62%;
  margin: 24px auto;
  padding: 16px;
  color: #fff;
  text-align: center;
  border: 1px solid #33A8DB;
  border-radius: 57px;
  box-shadow: inset -2px 6px 4px #00000066;
  background-color: #252525;
  @media screen and (max-width: 1200px) {
    width: 75%;
  }
}

.module span {
  color: #33A8DB;
}

#transform-world {
  height: 80vh;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #33A8DB;
  background-image: url('../assets/images/woman-code.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#transform-world p {
  width: 18%;
  margin: 15% auto auto 15%;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: left;
  text-transform: lowercase;
  text-shadow: 3px 2px #33A8DB;
  @media screen and (max-width: 768px) {
    width: 30%;
    margin: 35% auto auto 15%;
  }
}